@import "./GraphicProfile.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");

::-webkit-scrollbar {
  width: 6px;
  background-color: $brightest-nin;
}

::-webkit-scrollbar-thumb {
  background: $medium-nin;
}

div,
button {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  touch-action: none;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
  border-bottom: $active-border;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

button:focus {
  border: $active-border;
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:focus {
  color: $dark-nin;
  text-decoration: none;
}

a:hover {
  color: $medium-nin;
  cursor: pointer;
}

.inverted_link,
.inverted_link:visited,
.inverted_link:active,
.inverted_link:focus {
  color: $bright-nin;
}

body,
input,
p,
button,
h1,
h2,
h3 {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3 {
  color: $super-dark-nin;
  font-weight: 300;
}

h4,
h5 {
  font-size: 12pt;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: $adb_dark_grey;
}

h5 {
  font-size: 11pt;
  color: black;
}

strong,
b {
  font-weight: 500;
}
.hoverUnderline:hover {
  text-decoration: underline;
}

/* ALL BUTTONS */

button {
  border: 0px;
}

button:hover,
button.active:hover,
button.active:focus,
button.active {
  cursor: pointer;
  background: $medium-nin;
}
.meny_ikon_image {
  width: 20px;
  height: 20px;
  display: block;
}

.italics {
  font-style: italic;
}

.cap {
  text-transform: capitalize;
}

/* BUTTON HEADERS */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .hidden_in_fullscreen {
    display: none;
  }
}

/* NAVIGATION TABS */
.tab_selector {
  display: block;
  width: 408px;
  height: auto;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0px;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .tab_selector {
    bottom: auto;
    top: 16px;
    z-index: 21;
    left: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .tab_selector {
    width: 100%;
  }
}

/* NAVIGATION TAB BUTTONS */

.tab_selector button {
  display: inline-block;
  text-align: center;
  padding: auto;
  background: $brightest-nin;
  width: calc(100% / 3);
  height: $bottom-tab-height;
  padding: 15px;
  position: relative;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0px;
  color: #555;
  font-family: "Roboto", "sans-serif";
  border: none;
  border-left: 1px solid $brightest-nin;
  border-top: 1px solid $brightest-nin;
  vertical-align: bottom;
}

.tab_selector .active_mobile_button,
.active_mobile_button,
.tab_selector button:hover,
.tab_selector button.active:hover,
.tab_selector button.active:focus,
.tab_selector button.active {
  background: $medium-nin;
  color: #fff;
  cursor: pointer;
}

.tab_selector .active_mobile_button {
  background: $dark-nin;
  color: white;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .tab_selector button:first-child {
    display: none;
  }

  .tab_selector button {
    width: calc(100% / 2);
    height: 40px;
    border: 0px;
    background: $bright-nin;
  }

  .tab_selector .active_mobile_button,
  .tab_selector .active_mobile_button_bigscreen {
    background: $background_header;
    color: black;
    font-weight: 400;
    border: 0px;
    font-size: 12pt;
    text-decoration: underline;
  }
}

.tab_selector button svg {
  height: 18px;
  width: 18px;
  position: absolute;
  top: calc(50% - 9px);
  right: calc(50% - 9px);
}

/* Den usynlige knappen */

.invisible_icon_button {
  background: transparent;
  border: none;
  padding: none;
  margin: none;
  display: inline-block;
}

.invisible_icon_button:active,
.invisible_icon_button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Last inn mer-knappen */
.load_more_button {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
}

/* HAMBURGER MENY ITEMS */
.hamburger_sidebar {
  width: 330px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .hamburger_sidebar {
    max-width: calc(100% - 5px);
  }
}

.hamburger_sidebar h2 {
  font-size: 20pt;
  margin-left: 10%;
}

.spraakvelger,
.hamburger_menu_item {
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  background: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.hamburger_menu_item div {
  min-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12pt;
  color: #777777;
  display: flex;
}

.hamburger_sidebar .mobile_only {
  display: none;
}

.artsdatabanken,
.tilbakemeldinger {
  background: transparent;
  color: #777;
  font-size: 12pt;
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  background: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.artsdatabanken span,
.tilbakemeldinger span {
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.spraakvelger {
  height: 54px;
  position: relative;
}

.spraakvelger span,
.hamburger_menu_item svg {
  color: #777777;
  display: inline-block;
  vertical-align: top;
}

.spraakvelger span:first-child,
.hamburger_menu_item div span:first-child {
  width: 36px;
}

.liste_ikon {
  width: auto;
  height: 19px;
}

.spraakalternativer {
  display: inline-block;
  width: 130px;
  left: auto;
  right: 15px;
  vertical-align: top;
  position: absolute;
  height: 26px;
  font-size: 12pt;
}

.spraakalternativer button {
  display: block;
  background: #fff;
  padding: 8px;
  width: 100%;
  color: #000;
  position: relative;
  border: 1px solid $border-color;
  border-top: 0px;
  z-index: 30;
}

.spraakalternativer button:hover,
.spraakalternativer button:active {
  background: $bright-nin;
}

.spraakalternativer button:first-child {
  background: #fff;
  border: 1px solid $bright-nin;
  padding: 5px;
  padding-right: calc(24px + 5px);
  z-index: 20;
}

.spraakalternativer svg {
  vertical-align: top;
  display: inline-block;
  background: $bright-nin;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 24px;
}

.page_warning {
  padding: 20px;
  padding-top: 10px;
  background: $dark-nin;
  color: white;
  margin-bottom: 20px;
}

.page_warning h2 {
  color: white;
}

.kartlag .page_warning h2 {
  padding-bottom: 10px;
  padding-left: 0px;
}

.kilde_knapp span,
.kilde_knapp svg,
.kilde_knapp img {
  display: inline-block;
  vertical-align: middle;
}

.kilde_knapp svg:last-child {
  float: right;
}
