.nin_colours {
  color: #4b909e;
  color: #81b2bb;
  color: #b7d3d8;
  color: #edf4f5;
  color: black;
}

.support_colors_nin_map {
  color_blue: #e4f0f2;
  color_active_blue_btn: #edf4f5;
  background_header: #fbfbfb;
  border-color: #eaeaea;
  color: rgb(153, 0, 19);
  color: #1c7762;
}

.artsdb_colours {
  color: #ffffff;
  color: #4c4a48;
  color: #7f726b;
  color: #de8608;
  color: #eb6109;
}

.redlist {
  color: rgb(90, 91, 93);
  color: rgb(153, 0, 19);
  color: rgb(216, 0, 36);
  color: rgb(255, 76, 41);
  color: rgb(243, 108, 33);
  color: rgb(250, 166, 26);
  color: rgb(96, 189, 177);
  color: rgb(147, 149, 152);
  color: rgb(206, 211, 212);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");

div,
button {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  touch-action: none;
}

a,
a:visited,
a:active,
a:focus {
  color: #4b909e;
}

a:hover {
  color: #81b2bb;
  cursor: pointer;
}

body,
input,
p,
button,
h1,
h2,
h3 {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3 {
  color: #4b909e;
  font-weight: 300;
}

h4,
h5 {
  font-size: 12pt;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: #4c4a48;
}

h5 {
  font-size: 11pt;
  color: black;
}

strong,
b {
  font-weight: 500;
}
.hoverUnderline:hover {
  text-decoration: underline;
}

/* ALL BUTTONS */

button {
  border: 0px;
}

button:hover,
button.active:hover,
button.active:focus,
button.active {
  cursor: pointer;
  background: #81b2bb;
}

/* BUTTON HEADERS */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  max-width: 100%;
}

/* Activate button in sidebar */

.activate_button_container {
  text-align: center;
}

.activate_button {
  background: #4b909e;
  color: white;
  padding: 10px;
  font-size: 12pt;
  padding-left: 30px;
  padding-right: 30px;
}
.activate_button svg {
  height: 18px;
  width: 18px;
  vertical-align: top;
}

/* NAVIGATION TABS */

/*
.tab_selector {
  display: none;
}
*/

.tab_selector {
  display: block;
  width: 408px;
  height: auto;
  position: fixed;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0px;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .tab_selector {
    bottom: auto;
    top: 16px;
    z-index: 21;
    left: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .tab_selector {
    width: 100%;
  }
}

/* NAVIGATION TAB BUTTONS */

.tab_selector button {
  display: inline-block;
  text-align: center;
  padding: auto;
  background: #edf4f5;
  width: calc(100% / 3);
  height: 48px;
  padding: 15px;
  position: relative;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0px;
  color: #555;
  font-family: "Roboto", "sans-serif";
  border: none;
  border-left: 1px solid #dee1e1;
  border-top: 1px solid #eceded;
  vertical-align: bottom;
}

.tab_selector .active_mobile_button,
.active_mobile_button,
.tab_selector button:hover,
.tab_selector button.active:hover,
.tab_selector button.active:focus,
.tab_selector button.active {
  background: #81b2bb;
  color: #fff;
  color: "rgba(0,0,0,0.67)";
  cursor: pointer;
}

.tab_selector .active_mobile_button {
  background: #4b909e;
  color: white;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .tab_selector button:first-child {
    display: none;
  }

  .tab_selector button {
    width: calc(100% / 2);
    height: 40px;
    border: 0px;
    background: #b7d3d8;
  }

  .tab_selector .active_mobile_button,
  .tab_selector .active_mobile_button_bigscreen {
    background: #fbfbfb;
    color: black;
    font-weight: 400;
    border: 0px;
    font-size: 12pt;
    text-decoration: underline;
  }
}

/* NAVIGATION TAB BUTTON ICONS */

.tab_selector button svg {
  height: 18px;
  width: 18px;
  position: absolute;
  top: calc(50% - 9px);
  right: calc(50% - 9px);
}

/* GENERIC ITEMS */

.invisible_icon_button {
  background: transparent;
  border: none;
  padding: none;
  margin: none;
  display: inline-block;
}

.invisible_icon_button:active,
.invisible_icon_button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sidebar .content_bubble,
.content_bubble {
  background: #b7d3d8;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 98%;
}

.content_bubble span {
  display: inline-block;
  width: auto;
  max-width: calc(100% - 50px);
  vertical-align: middle;
}

.avatar_kode {
  padding-right: 10px;
  color: #4b909e;
}

.load_more_button {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
}

/* BADGES */

.badge {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 10px;
  overflow: hidden;
}

.badge_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #4b909e;
  display: inline-block;
}

.badge_image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.badge span {
  width: 100%;
  display: block;
}

.badge b {
  color: #4b909e;
}

.meny_ikon_image {
  width: 20px;
  height: 20px;
  display: block;
}

.lokasjon_badge_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* LOKASJON BADGE */
.lokasjon_badge_container .badge_image {
  width: 80px;
  height: 80px;
  border: 2px solid #4b909e;
}

.lokasjon_badge_container .badge {
  padding: 2px;
  vertical-align: top;
  width: 120px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.lokasjon_badge_container .badge b,
.lokasjon_badge_container .badge span {
  font-size: 9pt;
}

/* HAMBURGER MENY ITEMS */
.hamburger_sidebar {
  width: 330px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .hamburger_sidebar {
    max-width: calc(100% - 5px);
  }
}

.hamburger_sidebar h2 {
  font-size: 20pt;
  margin-left: 10%;
}

.spraakvelger,
.hamburger_menu_item {
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  background: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.hamburger_menu_item div {
  min-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12pt;
  color: #777777;
  display: flex;
}

.hamburger_sidebar .mobile_only {
  display: none;
}

.spraakvelger {
  height: 54px;
  position: relative;
}

.spraakvelger span,
.hamburger_menu_item svg {
  color: #777777;
  display: inline-block;
  vertical-align: top;
}

.spraakvelger span:first-child,
.hamburger_menu_item div span:first-child {
  width: 36px;
}

.spraakalternativer {
  display: inline-block;
  width: 130px;
  left: auto;
  right: 15px;
  vertical-align: top;
  position: absolute;
  height: 26px;
  font-size: 12pt;
}

.spraakalternativer button {
  display: block;
  background: #fff;
  padding: 8px;
  width: 100%;
  color: #000;
  position: relative;
  border: 1px solid #eaeaea;
  border-top: 0px;
}

.spraakalternativer button:hover,
.spraakalternativer button:active {
  background: #b7d3d8;
}

.spraakalternativer button:first-child {
  background: #fff;
  border: 1px solid #b7d3d8;
  padding: 5px;
  padding-right: calc(24px + 5px);
}

.spraakalternativer svg {
  vertical-align: top;
  display: inline-block;
  background: #b7d3d8;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 24px;
}
