@import "./GraphicProfile.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Allow click through of events
on overlying node we can't get rid of*/
body,
#root {
  pointer-events: none;
}
body *,
#root * {
  pointer-events: auto;
}

body {
  overflow: hidden;
  touch-action: none;
}

/* Genral CSS */

::-webkit-scrollbar {
  width: 6px;
  background-color: $brightest-nin;
}

::-webkit-scrollbar-thumb {
  background: $medium-nin;
}

div,
button {
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
}

a,
a:visited,
a:active,
a:focus {
  color: $link-color;
  //text-decoration: none;
}

a:hover {
  color: $medium-nin;
  cursor: pointer;
}

a .MuiSvgIcon-root {
  vertical-align: middle;
}

.inverted_link,
.inverted_link:visited,
.inverted_link:active,
.inverted_link:focus {
  color: $bright-nin;
}

body,
input,
p,
button {
  font-family: $font-chivo;
}

h1,
h2,
h3 {
  font-family:$font-space;
}

strong,
b {
  font-weight: 500;
}
.hoverUnderline:hover {
  text-decoration: underline;
}

/* ALL BUTTONS */

button {
  border: 0px;
}

button:hover,
button.active:hover,
button.active:focus,
button.active {
  cursor: pointer;
  _background-color: $medium-nin;
}

.meny_ikon_image {
  width: 20px;
  height: 20px;
  display: block;
}

.italics {
  font-style: italic;
}

.cap {
  text-transform: capitalize;
}

/* BUTTON HEADERS */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .hidden_in_fullscreen {
    display: none;
  }
}
/* Den usynlige knappen */

.invisible_icon_button {
  background: transparent;
  border: none;
  padding: 4px;
  margin: none;
  display: inline-block;
}

.invisible_icon_button:active,
.invisible_icon_button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Last inn mer-knappen */
.load_more_button {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
}

/* HAMBURGER MENY ITEMS */
.hamburger_sidebar {
  width: 330px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .hamburger_sidebar {
    max-width: calc(100% - 5px);
  }
}

.hamburger_sidebar h2 {
  font-size: 20pt;
  margin-left: 10%;
}

.spraakvelger,
.hamburger_menu_item {
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  background: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.hamburger_menu_item div {
  min-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12pt;
  color: $body-color;
  display: flex;
}

.hamburger_sidebar .mobile_only {
  display: none;
}

.artsdatabanken,
.tilbakemeldinger {
  background: transparent;
  color: $body-color;
  font-size: 12pt;
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  background: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.artsdatabanken span,
.tilbakemeldinger span {
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.spraakvelger {
  height: 54px;
  position: relative;
}

.super-super-dark {
  color: $super-duper-dark-nin;
}

.cardheadings {
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: $super-duper-dark-nin;
  font-weight: 500;
}

.cardsubtext {
  margin-bottom: 24px;
}

.spraakvelger span,
.hamburger_menu_item svg {
  color: $adb_dark_grey;
  display: inline-block;
  vertical-align: top;
}

.spraakvelger span:first-child,
.hamburger_menu_item div span:first-child {
  width: 36px;
}

.liste_ikon {
  width: auto;
  height: 19px;
}

.liste_ikon_container {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.external_icons {
  height: auto;
  max-height: 20px;
  max-width: 20px;
  text-align: center;
}

.spraakalternativer {
  display: inline-block;
  width: 130px;
  left: auto;
  right: 15px;
  vertical-align: top;
  position: absolute;
  height: 26px;
  font-size: 12pt;
}

.spraakalternativer button {
  display: block;
  background: #fff;
  padding: 8px;
  width: 100%;
  color: #333;
  position: relative;
  border: 1px solid $border-color;
  border-top: 0px;
  z-index: 30;
}

.spraakalternativer button:hover,
.spraakalternativer button:active {
  background: $bright-nin;
}

.spraakalternativer button:first-child {
  background: #fff;
  border: 1px solid $bright-nin;
  padding: 5px;
  padding-right: calc(24px + 5px);
  z-index: 20;
}

.spraakalternativer svg {
  vertical-align: top;
  display: inline-block;
  background: $bright-nin;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 24px;
}

.page_warning {
  padding: 20px;
  padding-top: 10px;
  background: $dark-nin;
  color: white;
  margin-bottom: 20px;
}

.page_warning h2 {
  color: white;
}

.kartlag .page_warning h2 {
  padding-bottom: 10px;
  padding-left: 0px;
}

.kilde_knapp {
  width: 100%;
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
}

.kilde_knapp span {
  flex: 1;
  text-align: left;
}

.kilde_knapp span,
.kilde_knapp svg,
.kilde_knapp img {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  justify-content: space-between;
}

.kilde_knapp svg,
.kilde_knapp img {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: $super-dark-nin !important;
}

.MuiListItem-container {
  list-style-type: none;
}

/* Sections */

.section {
  border-top: 1px solid #c8c8c8;
  margin-top: -1px;
  background: #fff9f0//#f4f2f2;
}

.testcolours .section:nth-child(1) {
  background: hotpink;
}

.testcolours .section:nth-child(2) {
  background: $fun-bg-1;
}

.testcolours .section:nth-child(3) {
  background: $fun-bg-4;
}

.testcolours .section:nth-child(4) {
  background: $fun-bg-2;
}

.testcolours .section:nth-child(5) {
  background: $fun-bg-3;
}

.section h3,
.section h2,
.section h1 {
  margin: 0px;
  padding: 15px 10px 12px 10px;
}

.section h2 svg {
  height: 22px;
}

.section h3 svg {
  height: 15px;
}

.subsection {
  margin: 10px;
  padding: 10px;
  text-align: left;
  max-width: 100%;
  background: $panel-section-bg;
  border-radius: 5px;
}

.testcolours .subsection {
  background: rgba(0, 0, 0, 0.2);
}

.subsection h4,
.subsection h6 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.sectionbox {
  background: white;
  padding: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.subsection p {
  padding: 10px;
}

.sectionbox-header {
  display: flex;
  padding: 0;
  margin: 0;
}

.avatarlink {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  flex: 1;
}

.cookiewarning {
  width: $map-width;
  background: $transparent-bg;
  position: absolute;
  top: $topbar-height-nin;
  z-index: -1;
  padding: 5px;
  text-align: center;
}

.cookiewarning.fullscreen {
  width: 100%;
}

.cookiewarning a {
  color: $link-color;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .cookiewarning {
    width: 100%;
  }
}
