@import "./GraphicProfile.scss";

.taxonomy_section {
  max-width: 400px;
  text-align: left;
  vertical-align: top;
  top: 0px;
  padding-right: 15px;
}

.taxonomy_item {
  padding: 5px;
}

.specieslink {
  color: $dark-nin;
}

.kilder_wrap {
  max-width: 300px;
  display: inline-block;
}

.risiko_kategori {
  display: flex;
  list-style: none;
  padding: 0px;
  position: relative;
  padding-top: 10px;
}

.risiko_kategori hr {
  position: absolute;
  top: 15px;
  width: calc(100% - 30px);
  left: 15px;
}

.risiko_kategori li {
  z-index: 10;
}

.risiko_kategori li b {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 15px;
  margin-top: -35px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  box-sizing: border-box;
}

.risiko_kategori li.activ b {
  margin-top: -9px;
  padding-top: 6px;
  border: 4px solid #4b909e;
}

.risiko_kategori li span {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
  padding-top: 0px;
  font-size: 8pt;
  text-align: center;
  display: inline-block;
}

.risiko_kategori li.activ span {
  font-weight: bold;
}

.art_data_displayer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.SE b {
  background: #5e3063;
  color: white;
}
.HI b {
  background: #1b386f;
  color: white;
}
.PH b {
  background: #185a6c;
  color: white;
}
.LO b {
  background: #5ea4a1;
  color: white;
}
.NK b {
  background: #9ba963;
  color: white;
}
.NR b {
  background: #e2e4e9;
  color: black;
}
