@import "./GraphicProfile.scss";

.species_sections,
.taxonomy_section {
  max-width: 400px;
  text-align: left;
  vertical-align: top;
  top: 0px;
  padding-right: 15px;
  display: inline-block;
}

.species_sections {
  max-width: 100%;
  display: inline-block;
  flex: 1;
  text-align: center;
}

.taxonomy_item {
  padding: 5px;
  background: transparent;
  font-size: inherit;
}

.specieslink {
  color: $dark-nin;
}

.kilder_wrap {
  max-width: 300px;
  display: inline-block;
}

.risiko_kategori {
  display: flex;
  list-style: none;
  padding: 0px;
  position: relative;
  padding-top: 10px;
  justify-content: space-between;
  padding-right: 20px;
}

.risiko_kategori hr {
  position: absolute;
  top: 15px;
  width: calc(100% - 50px);
  left: 15px;
}

.risiko_kategori li {
  z-index: 10;
  flex: 1;
  max-width: 60px;
}

.risiko_kategori li b {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 15px;
  margin-top: -35px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  color: white;
  background: black;
}

.risiko_kategori li.activ b {
  margin-top: -9px;
  padding-top: 6px;
  border: 4px solid #4b909e;
  border-radius: 2px;
}

.risiko_kategori li span {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
  padding-top: 0px;
  font-size: 8pt;
  text-align: center;
  display: inline-block;
}

.risiko_kategori li.activ span {
  font-weight: bold;
}

.art_data_displayer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1146px) {
  .taxonomy_section,
  .species_sections {
    width: 100%;
    flex: none;
  }

  .risiko_kategori hr {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .risiko_kategori hr {
    display: none;
  }

  .risiko_kategori {
    flex-direction: column;
  }

  .risiko_kategori li {
    display: flex;
    max-width: 250px;
    margin: 5px;
    padding: 5px;
  }

  .risiko_kategori li b {
    margin: 0px;
  }
  .risiko_kategori li {
    max-width: 100%;
  }
}

.risiko_kategori .SE b {
  background: $SE;
}
.risiko_kategori .HI b {
  background: $HI;
}
.risiko_kategori .PH b {
  background: $PH;
}
.risiko_kategori .LO b {
  background: $LO;
}
.risiko_kategori .NK b {
  background: $NK;
}
.risiko_kategori .NR b {
  background: $NR;
  color: black;
}

.risiko_kategori .RE b {
  background: $RE;
}

.risiko_kategori .CR b {
  background: $CR;
}

.risiko_kategori .EN b {
  background: $EN;
}

.risiko_kategori .VU b {
  background: $VU;
}

.risiko_kategori .NT b {
  background: $NT;
}

.risiko_kategori .DD b {
  background: $DD;
}

.risiko_kategori .LC b {
  background: $LC;
}

.risiko_kategori .NA b {
  background: $NA;
}

.risiko_kategori .NE b {
  background: $NE;
}
