@import "./GraphicProfile.scss";

.species_sections,
.taxonomy_section {
  max-width: 400px;
  text-align: left;
  vertical-align: top;
  top: 0px;
  padding-right: 15px;
  display: inline-block;
}

.species_sections {
  max-width: 100%;
  display: inline-block;
  flex: 1;
  text-align: center;
}

.taxonomy_item {
  padding: 5px;
  background: transparent;
  font-size: inherit;
  width: 100%;
  text-align: left;
}

.specieslink {
  color: $dark-nin;
}

.risiko_kategori {
  display: flex;
  list-style: none;
  padding: 0px;
  position: relative;
  padding-top: 10px;
  justify-content: space-between;
}

.risiko_kategori li {
  z-index: 10;
  flex: 1;
  text-align: center;
  position: relative;
}

.risiko_kategori hr {
  position: absolute;
  z-index: -1;
  top: 9px;
  width: 100%;
}

.risiko_kategori li:first-child hr {
  left: 50%;
  width: 50%;
}

.risiko_kategori li:last-child hr {
  right: 50%;
  width: 50%;
}

.risiko_kategori li b {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 15px;
  margin-top: -6px;
  border-radius: 50%;
  padding: 5px;
  padding-top: 9px;
  box-sizing: border-box;
  color: white;
  background: black;
  font-size: 14pt;
}

.risiko_kategori li.activ b {
  margin-top: -7px;
  padding-top: 6px;
  border: 4px solid #4b909e;
  border-radius: 2px;
}

.risiko_kategori li span {
  max-width: 60px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
  padding-top: 0px;
  font-size: 8pt;
  text-align: center;
  display: block;
  margin: auto;
}

.risiko_kategori li.activ span {
  font-weight: bold;
}

.art_data_displayer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1260px) {
  .taxonomy_section,
  .species_sections {
    width: 100%;
    flex: none;
  }

  .risiko_kategori hr {
    width: 100%;
  }

  .risiko_kategori li b {
    height: 30px;
    width: 30px;
    margin: 4px;
    margin-top: -6px;
    padding-top: 7px;
    font-size: 10pt;
  }

  .risiko_kategori hr {
    top: 4px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 560px),
  (min-width: 768px) and (max-width: 960px) {
  .risiko_kategori li:first-child hr,
  .risiko_kategori hr {
    display: block;
    border: 0px;
    border-left: 2px solid black;
    flex: none;
    height: 100%;
    left: 18px;
    top: 15px;
  }
  .risiko_kategori li:last-child hr {
    display: none;
  }

  .risiko_kategori {
    flex-direction: column;
    padding-left: 30%;
  }

  .risiko_kategori li {
    display: flex;
    max-width: 250px;
    margin: 5px;
    padding: 5px;
  }

  .risiko_kategori li b {
    margin: 0px;
  }
  .risiko_kategori li {
    max-width: 100%;
  }

  .risiko_kategori li span {
    max-width: 100%;
    font-size: 12pt;
    text-align: left;
    margin: 5px;
  }
}

.risiko_kategori .SE b {
  background: $SE;
}
.risiko_kategori .HI b {
  background: $HI;
}
.risiko_kategori .PH b {
  background: $PH;
}
.risiko_kategori .LO b {
  background: $LO;
}
.risiko_kategori .NK b {
  background: $NK;
}
.risiko_kategori .NR b {
  background: $NR;
  color: black;
}

.risiko_kategori .RE b {
  background: $RE;
}

.risiko_kategori .CR b {
  background: $CR;
}

.risiko_kategori .EN b {
  background: $EN;
}

.risiko_kategori .VU b {
  background: $VU;
}

.risiko_kategori .NT b {
  background: $NT;
}

.risiko_kategori .DD b {
  background: $DD;
}

.risiko_kategori .LC b {
  background: $LC;
}

.risiko_kategori .NA b {
  background: $NA;
}

.risiko_kategori .NE b {
  background: $NE;
}
