@import "./GraphicProfile.scss";

/*
BADGES
Eksempelside: /Natur_i_Norge/Landskap/Typeinndeling/Innlandslandskap?informasjon
*/

/* Containers */
.lokasjon_badge_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.landskapstype_visning .lokasjon_badge_container {
  flex: 1;
  justify-content: flex-start;
  min-width: 100%;
  padding-top: 10px;
}

.general_badge_container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* The badges themselves */
.badge {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 130px;
  padding: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-size: 10pt;
  background: transparent;
}

.lokasjon_badge_container .badge {
  padding: 2px;
  width: 120px;
}

.landskapstype_visning .badge {
  width: 80px;
}

.landskapstype_visning .landskap_badge {
  width: 130px;
  font-size: 10pt;
}

/* Badge elements */
.badge_image {
  border-radius: 50%;
  border: 2px solid $dark-nin;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.badge b {
  color: $dark-nin;
  display: block;
}

.lokasjon_badge_container .badge b,
.lokasjon_badge_container .badge span {
  font-size: 9pt;
}

.landskapstype_visning .badge span {
  display: none;
}
