@import "./GraphicProfile.scss";
/* 
Dumped from old version until i bother fixing it
*/
.colorSlider,
.colorPicker {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  height: 256px;
  position: relative;
}

.colorSlider:hover,
.colorPicker:hover {
  cursor: pointer;
}

.sidebar .colorSlider,
.colorSlider {
  margin-top: 10px;
  height: 10px;
}

.slider_container {
  position: relative;
}

.slider_value {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sidebar .slider_element,
.slider_element {
  padding: 0px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $dark-nin;
}

.slider_element button {
  width: 25px;
  height: 25px;
  background: $medium-nin;
}

.slider_element div div:first-child {
  background: $dark-nin;
}

.slider_element div div:last-child {
  background: $dark-nin;
}

.slider_element .maxfloat {
  float: right;
}

.slider_setting {
  padding: 5px;
}

.slider_setting div,
.colorPicker_container {
  padding: 5px;
}

.colour_adjustment_container h4 {
  padding: 5px;
}

.slider_setting {
  position: relative;
}

.slider_element .MuiSlider-rail {
  color: $bright-nin;
  height: 10px;
}

.slider_element .MuiSlider-track {
  color: $bright-nin;
  height: 10px;
}

.slider_element .MuiSlider-thumb {
  color: $dark-nin;
  width: 20px;
  height: 20px;
}

select {
  margin: 10px;
  width: calc(100% - 20px);
  position: relative;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  font-size: 12pt;
}

.ul_block,
.ul_block li {
  display: block;
  margin: 0px;
  padding: 0px;
}
.selected_button {
  background: $bright-nin;
}

.child_list_object {
  display: block;
  width: 100%;
  text-align: left;
}

.child_list_object_expand_header {
  padding-top: 10px;
  position: relative;
}

.child_list_object:hover {
  background: $brightest-nin;
  cursor: pointer;
}

.child_list_object button {
  display: inline-block;
  vertical-align: top;
}

.child_list_object_indicator {
  background: transparent;
  position: absolute;
  right: 0px;
  top: 10px;
}

.sidebar .colour_legend {
  border: 1px solid #888;
  filter: drop-shadow(1px 1px 1px #aaa);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
}

.title_and_subtitle_container {
  display: inline-block;
  _position: absolute;
  _top: 20px;
  _left: 32px;
  vertical-align: top;
  max-width: calc(100% - 110px);
  _display: flex;
  _align-items: center;
}

.title_and_subtitle_container span {
  display: block;
}

.show_hide_button {
  width: 24px;
  margin: 0px;
  padding: 0px;
}

.widescreen_sidebar_element {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.widescreen_sidebar_element h1,
.widescreen_sidebar_element h2,
.widescreen_sidebar_element h3,
.widescreen_sidebar_element h4,
.widescreen_sidebar_element h5 {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
