/* Container */
.frontpage {
  width: 100%;
  height: calc(100%);
  min-height: 100vh;
  background: #ffffff;
  top: 0px;
  left: 0;
  text-align: center;
  position: absolute;
  z-index: 100;
  overflow: scroll;
}

/* General Stuff */
.frontpage_footer,
.frontpage_link_items,
.frontpage_feature_block {
  padding: 50px;
}

/* Header */

.frontpage_header {
  background: #edf4f5;
  padding: 20px;
}

.frontpage_header div {
  display: inline-block;
  vertical-align: middle;
}

/* Headings */

.frontpage h1,
.frontpage h2 {
  font-weight: 300;
  font-size: 30pt;
  margin: 0px;
}

.frontpage h2 {
  font-size: 20pt;
}

.frontpage_feature_block {
  background: #81b2bb;
  color: white;
  font-size: 16pt;
}

/* fEATURE bLOCK */

.frontpage_feature_block p {
  max-width: 1024px;
  margin: auto;
  margin-top: 10px;
}

.frontpage_feature_block h2 {
  color: white;
}

/* Link bLOCK */
.frontpage_link_items .menu_item {
  display: inline-block;
  width: auto;
  margin: 25px;
  text-align: center;
  border-radius: 3px;
}

.frontpage_link_items .menu_item svg {
  width: 80px;
  height: 80px;
  display: block;
}

/* Footer */
.frontpage_body {
  /* Footer height, is what makes footer sticky */
  min-height: calc(100% - 200px);
}
.frontpage_footer {
  width: 100vw;
  text-align: center;
  background: #edf4f5;
}

.frontpage_icon svg {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding-top: 20px;
  color: #4b909e;
}

.frontpage_footer img {
  max-width: 150px;
}
