@import "./GraphicProfile.scss";

/* Container */
.frontpage {
  width: 100%;
  top: $topbar-height-nin;
  text-align: center;
  position: relative;
}

/* General Stuff */
.frontpage_footer,
.frontpage_link_items,
.frontpage_feature_block {
  padding: 50px;
}

.frontpage_link_items{
  background:$background-1
}

@media only screen and (max-width: 768px) {
  .frontpage_footer,
  .frontpage_link_items,
  .frontpage_feature_block {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Header */

.frontpage_header {
  background: $sand-80;
  padding: 20px;
  text-align: center;
}

.frontpage_header div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.frontpage_header button{
  margin: auto;
  margin-top: 20px;
}

/* Headings */

.frontpage h1,
.frontpage h2 {
  font-weight: 300;
  font-size: 30pt;
  margin: 0px;
}

.frontpage h2 {
  font-size: 20pt;
}

/* fEATURE bLOCK */

.frontpage_feature_block {
  background: $sand-50;
  font-size: 16pt;
}

.frontpage_feature_container {
  max-width: 1024px;
  margin: auto;
}

.frontpage_feature_block img {
  width: 30%;
  max-width: 250px;
}

.frontpage_feature_container div {
  width: 60%;
  padding: 20px;
}

.frontpage_feature_block img,
.frontpage_feature_container div {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .frontpage_feature_block img,
  .frontpage_feature_container div {
    display: block;
    width: 100%;
    margin: auto;
  }
}

/* Link bLOCK */

.frontpage_link_items .hamburger_menu_item div:first-child {
  width: auto;
}

.frontpage_link_items .menu_item {
  display: inline-block;
  width: auto;
  margin: 25px;
  text-align: center;
  border-radius: $border-button-radius;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .frontpage_link_items .menu_item {
    width: 100%;
    margin: 0px;
    left: 0px;
  }
}

.flexit{
  display: flex;
}

/* Footer */

.artsdatabanken_logo img,
.frontpage_sources:first-child a img {
  width: 300px;
}

.frontpage_footer {
  min-height: 320px;
  width: 100vw;
  text-align: center;
  background: $brightest-nin;
  color:$body-color;
  padding-top:2px
}

.frontpage_icon svg {
  display: inline-block;
  width: 90px;
  height: 90px;
  color: $dark-nin;
}

.frontpage_link img {
  display: inline-block;
  margin: 10px;
}

.frontpage_sources {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.frontpage_sources:first-child {
  text-align: center;
  margin-right: 10px;
}

.frontpage_link {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 100px;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.frontpage_link div {
  height: 40px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .frontpage_sources {
    text-align: center;
  }

  .frontpage_sources img {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.frontpage_link_items .hamburger_menu_item div {
  display: flex;
}

.frontpage_link_items .hamburger_menu_item .mobile_only {
  display: none;
}

@media only screen and (max-width: 768px) {
  .frontpage_link_items .hamburger_menu_item .mobile_only {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    top: 20px;
    right: 20px;
    position: absolute;
    top: 20px;
    right: calc(50% - 100px);
  }
}
