/* Specifically for items in arrowclickmenu*/
.element_link {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.clickable_element {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.clickable_element_location:hover {
  cursor: pointer;
  background: #edf4f5;
}

.clickable_element_location p {
  padding-left: 5px;
}

.clickable_element_location p,
.clickable_element_location h3 {
  max-width: calc(100% - 30px);
}

.kode_flis_tekst {
  display: inline-block;
}

.title_container_location {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: top;
}

.shield_container {
  display: inline-block;
  width: 70px;
  text-align: center;
  padding-top: 5px;
}

.shield_container p {
  font-size: 10pt;
}

.sidebar_padding {
  padding-left: 5px;
  border-bottom: 0px;
  width: calc(100% - 30px);
  background: transparent;
}

.clickable_element_location_subelement {
  padding: 0px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom: 0px;
}

.clickable_element_location_header {
  border-bottom: 0px;
  border-top: 1px solid #eaeaea;
  background: none;
}

.paddingless {
  padding: 0px;
}

.sub_sub_heading {
  padding-bottom: 10px;
}
