/* Specifically for items in arrowclickmenu*/
.element_link {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.clickable_element {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.kode_flis_tekst {
  display: inline-block;
}

.title_container_location {
  display: inline-block;
  width: calc(100% - 70px);
  vertical-align: top;
}

.shield_container {
  display: inline-block;
  width: 70px;
  text-align: center;
  padding-top: 5px;
}

.shield_container p {
  font-size: 10pt;
}

.sidebar_padding {
  padding-left: 5px;
  border-bottom: 0px;
  width: calc(100% - 30px);
  background: transparent;
}

.sub_sub_heading {
  padding-bottom: 10px;
}
