/* NiN Main Pallette*/
$super-dark-nin: #347c8a;
$darkest-nin: #4d8b96;
$dark-nin: #4b909e;
$medium-nin: #81b2bb;
$bright-nin: #b7d3d8;
$brightest-nin: #edf4f5;

/* NiN Support Pallette*/
$background_header: #fbfbfb;
$border-color: #eaeaea;
$red-color: rgb(153, 0, 19);
$green-color: #299988;

/* ADB profil*/
$adb_whiter: #ffffff;
$adb_dark_grey: #4c4a48;
$adb_grey: #7f726b;
$adb_bright_orange: #de8608;
$adb_orange: #eb6109;

/* Rødliste profil*/
$RL1-color: rgb(90, 91, 93);
$RL2-color: rgb(153, 0, 19);
$RL3-color: rgb(216, 0, 36);
$RL4-color: rgb(255, 76, 41);
$RL5-color: rgb(243, 108, 33);
$RL6-color: rgb(250, 166, 26);
$RL7-color: rgb(96, 189, 177);
$RL8-color: rgb(147, 149, 152);
$RL9-color: rgb(206, 211, 212);

/* Active Elements */
$active-border: 2px solid black !important;

/* Relative heights of menu items */
$bottom-tab-height: 48px;
$topbar-height-nin: 56px;
$menu-mobile-size: $bottom-tab-height + $topbar-height-nin;
$sidebar-max-size: 350px;
$mobile_slide_up_area: 60px; // closed version

/* Sizes for map buttons*/
$leaflet-buttons-padding: 3px;
$bottompadding: 12px + $leaflet-buttons-padding * 4; /*12px is the bottom reference text*/
$bottompadding-mobile: $leaflet-buttons-padding * 4 + $bottom-tab-height +
  $mobile_slide_up_area;
$leaflet-buttons: 34px;
