/* NiN Main Pallette*/
$super-dark-nin: #347c8a;
$darkest-nin: #4d8b96;
$dark-nin: #4b909e;
$medium-nin: #81b2bb;
$bright-nin: #b7d3d8;
$brightest-nin: #edf4f5;

/* NiN Support Pallette*/
$background_header: #fbfbfb;
$border-color: #eaeaea;
$red-color: rgb(153, 0, 19);
$green-color: #299988;

/* ADB profil*/
$adb_whiter: #ffffff;
$adb_dark_grey: #4c4a48;
$adb_grey: #7f726b;
$adb_bright_orange: #de8608;
$adb_orange: #eb6109;

/* Rødliste profil*/
$RE: rgb(90, 91, 93);
$CR: rgb(153, 0, 19);
$EN: rgb(216, 0, 36);
$VU: rgb(255, 76, 41);
$NT: rgb(243, 108, 33);
$DD: rgb(250, 166, 26);
$LC: rgb(96, 189, 177);
$NA: rgb(147, 149, 152);
$NE: rgb(206, 211, 212);

/* Fremmedartsliste profil*/
$SE: #5e3063;
$HI: #1b386f;
$PH: #185a6c;
$LO: #5ea4a1;
$NK: #9ba963;
$NR: #e2e4e9;

/* Active Elements */
/*$active-border: 2px solid black !important;*/

/*fonts*/
$fontfamily: "Roboto", "sans-serif";

/* Relative heights of menu items */
$bottom-tab-height: 48px;
$topbar-height-nin: 56px;
$menu-mobile-size: $bottom-tab-height + $topbar-height-nin;
$sidebar-max-size: 350px;
$mobile_slide_up_area: 60px; // closed version

/* Box Shadow */
$box-shadow: -1px 8px 62px -19px rgba(0, 0, 0, 0.75);

/* Searchbar Width */
$searchbar-width: 300px;

/* Top menu margins and paddings */
$top-pad: 5px;
$top-icon-height: 46px;
