$fresh-water-blue: #005B72; 
$fresh-water-blue-medium: #017590;
$fresh-water-blue-light: #0283a1; // Ferskvannblå
$fresh-water-blue-80: #337B8D;
$fresh-water-blue-20: #CCDEE3;
$fresh-water-blue-10: #E6EFF1;
$primary-color: $fresh-water-blue;
$primary-color-hover: $fresh-water-blue-80;
$secondary-color: $fresh-water-blue-20;
$secondary-color-hover: $fresh-water-blue-10;


/* NiN Main Pallette*/
$sand-80:#F5E7D3;// Border infobox
$sand-50:#FFF7EB; // heading + footer
$sand-10:#FFFCF7; // Innhold bg

$background-1:#fff9f0;
$background-2:$sand-10;
$white:#FFF;//infobox bg
$font-chivo: 'Chivo', sans-serif;
$font-space: 'Space Mono', sans-serif;
$super-duper-dark-nin: #f5e7d3;// #165d6b;
$link-color:$fresh-water-blue-medium;
$super-dark-nin: $sand-80;//hsla(189, 30, 45, 1); //#347c8a;
$darkest-nin: hsla(189, 12%, 18%, 1); //#4d8b96;
$dark-nin: hsla(189, 12%, 18%, 1); //#4b909e;
$medium-nin: hsla(189, 12%, 24%, 1); // #81b2bb;
$bright-nin: hsla(189, 12%, 31%, 1); //#b7d3d8;
$brightest-nin:$sand-10; //hsla(189, 30, 95, 1); // #edf4f5;
$transparent-bg:#fff7eb9e;// #0222286e;
$focus-color: $fresh-water-blue-light;
/* FUN COLOURS */
$fun-bg-1: #bce0ce;
$fun-bg-2: #dadfcf;
$fun-bg-3: #bfb6d6;
$fun-bg-4: #80aebf;

/* Background colour */
$panel-bg: #fff9f0;// #f1f1f1;
$panel-section-bg: $sand-80;// #e0e5e6;
$panel-section-sub-bg: #b9c2c4;
$panel-section-sub-sub-bg: #c9d2d5;

/* NiN Support Pallette*/
$background_header: #fbfbfb;
$border-color: #eaeaea;
$red-color: rgb(153, 0, 19);
$green-color: #299988;

/* ADB profil*/
$adb_whiter: #ffffff;
$adb_dark_grey: #706a60;
$body-color:#262f31;
$adb_grey: #7f726b;
$adb_bright_orange: #de8608;
$adb_orange: #eb6109;

/* Rødliste profil*/
$RE: rgb(90, 91, 93);
$CR: rgb(153, 0, 19);
$EN: rgb(216, 0, 36);
$VU: rgb(255, 76, 41);
$NT: rgb(243, 108, 33);
$DD: rgb(250, 166, 26);
$LC: rgb(96, 189, 177);
$NA: rgb(147, 149, 152);
$NE: rgb(206, 211, 212);

/* Fremmedartsliste profil*/
$SE: #5e3063;
$HI: #1b386f;
$PH: #185a6c;
$LO: #5ea4a1;
$NK: #9ba963;
$NR: #e2e4e9;

/* Active Elements */
$active-border: 2px solid black !important;

/*fonts*/
$fontfamily: $font-chivo;

/* Relative heights of menu items */
$nin-header: 48px;
$topbar-height-nin: 96px;
$mobile_slide_up_area: 60px; // closed version
$ux-page-area: $topbar-height-nin;
$ux-page-area-mobile: $mobile_slide_up_area + $topbar-height-nin;
$menu-mobile-size: $ux-page-area;
$sidebar-max-size: 408px;
$actual-map-height: calc(100vh - #{$ux-page-area});
$actual-map-height-mobile: calc(100vh - #{$ux-page-area-mobile});
$map-width: calc(100% - #{$sidebar-max-size});
/* Box Shadow */
$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
$box-shadow-hover: 0 1px 6px 0 hsla(189, 30%, 0%, 0.45),
  0 1px 3px 1px hsla(189, 30%, 91%, 0.302);
$box-shadow-card: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

/* Searchbar Width */
$searchbar-width: 300px;

/* Top menu margins and paddings */
$top-pad: 5px;
$top-icon-height: 40px;

$base-size:8px;