@import "./GraphicProfile.scss";
/*
The left sidebar infobox
Specific styling for its subelements
*/

.nin-card {
  margin: 10px;
  padding: 10px;
}

.katalog-content {
  text-align: center;
}

.coordinates p {
  padding: 0px;
  padding-left: 24px;
}

/* Statistics Box Info Tab */

.stats_paragraph {
  display: flex;
  align-content: flex-start;
  text-align: left;
}

.stats_paragraph svg {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  color: $super-duper-dark-nin;
}

/* Info Tab Top Image  */

.sidebar_top_image {
  height: 200px;
  background-position: center;
  width: calc(100% - 20px);
  display: block;
  margin: 10px;
  border-radius: 5px;
}

/* Older code, still in use  */

.kartlag_barn_container {
  /*Såvidt jeg kan se er dette containeren for underelement på infosiden*/
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  margin-left: -5px;
  justify-content: center;
}

.katalog_link_displayer {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  padding: 0px;
  margin: 5px;
  position: relative;
  align-self: flex-start;
}

.subelement_decorative_box {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 200px;
  color: $dark-nin;
  background: $bright-nin;
  font-size: 20pt;
  padding-top: calc(50% - 30px);
}

.subelement_decorative_image {
  width: 100%;
  height: 200px;
  position: relative;
}

.subelement_text.nav_text {
  max-width: 100%;
}
