@import "./GraphicProfile.scss";

.leftside-openbutton {
  background: $dark-nin;
  color: white;
  margin-top: 10px;
}

.nin-card {
  margin: 10px;
  padding: 10px;
}

.katalog-content {
  text-align: center;
}

.lukkbartvindu_header {
  font-size: 19pt;
  color: black;
  padding-top: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.lukkbartvindu_header img {
  height: 22px;
  padding-right: 5px;
  padding-left: 5px;
}

.lukkbartvindu-innhold {
  position: relative;
  top: 0px;
}

.closebutton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.closebutton svg {
  vertical-align: middle;
}

.coordinates p {
  padding: 0px;
  padding-left: 24px;
}

.kartlag_barn_container {
  /*Såvidt jeg kan se er dette containeren for underelement på infosiden*/
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  margin-left: -5px;
  justify-content: center;
}

.katalog_link_displayer {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  padding: 0px;
  margin: 5px;
  position: relative;
  align-self: flex-start;
}

.subelement_decorative_box {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 200px;
  color: $dark-nin;
  background: $bright-nin;
  font-size: 20pt;
  padding-top: calc(50% - 30px);
}

.subelement_decorative_image {
  width: 100%;
  height: 200px;
  position: relative;
}

.subelement_text.nav_text {
  max-width: 100%;
}
