@import "./GraphicProfile.scss";
/*

The list used in "kartlag" with a bunch of icons.
Avoiding flex to ensure it works on all types of devices, IE included.
Even tho we don't a of now support IE X)

*/

.kartlag .subexpand {
  margin: 0;
  border-radius: 0;
}

.kartlag_element_backbutton,
.kartlag_element_header {
  min-height: 50px;
  display: flex;
  width: 100%;
  padding: 2px;
}

.kartlag_element_backbutton {
  background: transparent;
}

.kartlag_element_backbutton span,
.kartlag_element_header h4 {
  flex: 2;
  display: block;
  margin: auto;
  padding: 2px;
  font-size: 12pt;
}

.kartlag_element_backbutton .backicon,
.layerbutton {
  margin-top: 0;
  height: 47px;
  border: 0;
  margin-left: 2px;
  width: 50px;
  padding: 0;
  padding-top: 0px;
  background: white;
  line-height: 50px;
  margin-right: 2px;
  padding-top: 7px;
  border-radius: 50%;
}

.layerbutton:hover {
  background: grey;
}

.kartlag_element_backbutton .backicon {
  background: transparent;
}

.kartlag_element_header .backicon svg,
.layerbutton svg {
  margin-top: auto;
  margin-bottom: auto;
}

.kartlag_element_text {
  display: inline-block;
  text-align: left;
}

/* Clean out padding to get 100% width */
.kartlag .sidebar_element,
.kartlag li {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Re-add padding where wanted */

.kartlag div {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .kartlag {
    top: 0;
  }
  .kartlag_content_open {
    position: absolute;
    margin-top: $ux-page-area-mobile;
    padding-top: 4px;
    background: white;
    height: $actual-map-height-mobile;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .kartlag_content {
    background: transparent;
    display: inline-block;
  }

  .kartlag.kartlag_content_closed,
  .kartlag_content.kartlag_content_closed {
    display: none;
  }
}

/* Lists of layers  */

.kartlag_list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.kartlag_list_title {
  display: inline-block;
  width: calc(100% - 90px);
  padding-top: 5px;
  padding-bottom: 5px;
}

.kartlag_list_icon_set {
  position: absolute;
  right: 10px;
  max-width: 100px;
  overflow: auto;
}

/* icons */

.kartlag_list li svg {
  padding: 5px;
  vertical-align: top;
}

.kartlag_list li svg:last-child {
  padding-right: 0px;
}

.remove_icon {
  color: $red-color;
}

.add_icon {
  color: $green-color;
}

/* Active menu and its submenu */

.sidebar .kartlag_sub_bg,
.sidebar .kartlag_submeny {
  background: transparent;
  margin-left: 5px;
  border-left: 5px solid $bright-nin;
}

.sidebar .kartlag_sub_bg {
  _padding: 10px;
  _margin-bottom: 10px;
}

.kartlag_submeny {
  padding-top: 5px;
  padding-bottom: 5px;
}

.kartlag_submeny button {
  font-size: 12pt;
  width: calc(50% - 7.5px);
  background: $bright-nin;
  margin-left: 5px;
}

.kartlag_submeny button:last-child {
  margin-right: 5px;
}

.kartlag_submeny button svg {
  vertical-align: middle;
  padding-left: 0px;
  margin-top: -4px;
  height: 16pt;
}

.kartlag_label_liste label {
  display: inline-block;
  padding-left: 5px;
  padding-right: 20px;
  margin: 0px;
}

.kartlag .slider_setting {
  display: block;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
}

/* Buttons for the theme selectors */

.button_map_preview {
  width: 100%;
  background: transparent;
  text-align: left;
  position: relative;
  display: flex;
}

.button_map_preview span {
  width: 50%;
  height: 100%;
}

.button_map_preview img,
.button_map_preview span {
  margin: 2px;
  display: inline-block;
  vertical-align: middle;
}

.button_map_preview img {
  width: 150px;
  height: 50px;
}

/* KILDER */
.sidebar .submeny_container {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.map_layer_navigation .arrow_button {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  margin-left: 10px;
  background-color: $panel-section-sub-bg;
  border-radius: 5px;
}
