/** Firefox workaround for https://github.com/Leaflet/Leaflet/issues/4686 */
.leaflet-fade-anim .leaflet-tile {
  will-change: unset;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: unset;
}

.leaflet-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leaflet-top {
  top: calc(100vh - 100px) !important;
}

@media only screen and (max-width: 768px) {
  .leaflet-top {
    top: auto !important;
    bottom: 115px !important;
    right: 5px !important;
  }
}

/* Burde ikke vært nødvendig, men markøren trodde den var 2px bred :| */

.leaflet-popup {
  min-width: 200px;
  max-width: 100%;
  width: 100%;
  padding: 0px;
}

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.leaflet-popup-content {
  margin: 0px;
  padding: 15px;
}

.popup {
  position: absolute;
  background: #edf4f5;
  transform: translate3d(764px, 386px, 0px);
  padding: 10px;
  width: 300px;
  -webkit-box-shadow: -1px 8px 62px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 62px -19px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 62px -19px rgba(0, 0, 0, 0.75);
  z-index: -5;
}

.popup .link_to_page {
  background: #81b2bb;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.popup .invisible_icon_button {
  float: right;
  font-size: 16pt;
}

.popup svg {
  vertical-align: top;
  margin-top: -2px;
}
