@import "./GraphicProfile.scss";

/** Firefox workaround for https://github.com/Leaflet/Leaflet/issues/4686 */

.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: unset;
}

.leaflet-container {
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  z-index: 0;
}

.popup {
  text-align: left;
  position: absolute;
  background: $brightest-nin;
  transform: translate3d(764px, 386px, 0px);
  padding: 10px;
  width: 300px;
  box-shadow: $box-shadow;
  transition: box-shadow 0.3s ease-in-out;
}

.popup:hover {
  box-shadow: $box-shadow-hover;
  outline: 1px solid transparent;
}

.popup .link_to_page {
  background: $medium-nin;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.popup .invisible_icon_button {
  float: right;
  font-size: 16pt;
}

.popup svg {
  vertical-align: top;
  margin-top: -2px;
}

/* KARTKNAPPENE */

/* Sizes for map buttons*/
$leaflet-buttons: 34px;
$leaflet-buttons-padding: 3px;
$bottompadding: 12px + $leaflet-buttons-padding * 4; /*12px is the bottom reference text*/
$bottompadding-mobile: $leaflet-buttons-padding * 4 + $bottom-tab-height +
  $mobile_slide_up_area;

.leaflet-top {
  /* Dette er containeren til zoomknappene */
  // top: 50px !important;
  top: unset;
  bottom: $bottompadding !important;
}

.leaflet-top .leaflet-control {
  margin-top: 2px;
}

.leaflet-right .leaflet-control {
  margin-right: 15px;
}

.leaflet-container {
  width: calc(100% - 408px);
}

.leaflet-touch .leaflet-bar a {
  width: $leaflet-buttons - 4px; //border
}

.leaflet-control-zoom a,
.map_button,
.map_control_button {
  height: $leaflet-buttons !important;
  width: $leaflet-buttons;
}

.map_button,
.map_control_button,
.leaflet-touch .leaflet-bar {
  border: 2px solid $medium-nin;
  width: $leaflet-buttons;
  z-index: -5;
}

.map_control_button {
  background: white;
  border-radius: 4px;
  padding: 2px;
}
.map_button {
  position: absolute;
  right: 418px;
  background: white;
  border-radius: 4px;
  padding: 2px;
  bottom: $bottompadding + $leaflet-buttons * 2 + $leaflet-buttons-padding * 2 +
    1px;
}

.fullscreen {
  display: none;
}

@media only screen and (max-width: 768px) {
  .leaflet-container {
    width: 100%;
  }
  .leaflet-top {
    top: auto !important;
    bottom: $bottompadding-mobile !important;
    right: 5px !important;
  }

  .leaflet-right .leaflet-control {
    margin-right: 10px;
  }

  .map_button {
    bottom: $bottompadding-mobile + $leaflet-buttons * 2 +
      $leaflet-buttons-padding * 2 + 1px;
    right: 15px;
  }

  .fullscreen {
    display: inline-block;
    // bottom: $bottompadding-mobile + $leaflet-buttons * 3 +
    //   $leaflet-buttons-padding * 3;
  }
}
