/* 

The list used in "kartlag" with a bunch of icons.
Avoiding flex to ensure it works on all types of devices, IE included.
Even tho we don't a of now support IE X)

*/

/* Button on bottom of map screen on mobile */
.mobile_slide_up_area {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Mobile slide-up area */

  .mobile_slide_up_area {
    display: inline-block;
    text-align: center;
    height: 60px;
    background: transparent;
    overflow: visible;
    width: 100%;
  }

  .open_mobile_slide_up_area {
    position: relative;
    top: 0px;
    bottom: auto;
    background: transparent;
    border-top: 0px;
    border-bottom: 1px solid #4b909e;
    z-index: 100;
  }

  .closed_mobile_slide_up_area {
    position: absolute;
    bottom: 48px;
    background: white;
    border-top: 1px solid #4b909e;
    border-bottom: 0px;
  }

  .mobile_slide_up_area svg {
    background: #4b909e;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 40px;
    z-index: 100;
  }

  .closed_mobile_slide_up_area svg {
    margin: auto;
    margin-top: -28px;
  }

  .mobile_slide_up_area span {
    width: 100%;
    padding: 2px;
    padding-bottom: 8px;
    display: block;
    font-size: 12pt;
    text-align: left;
  }

  .mobile_slide_up_area span:first-of-type {
    color: #4b909e;
    font-size: 8pt;
    padding: 2px;
    padding-top: 0px;
    margin-top: -5px;
  }
}

/* Clean out padding to get 100% width */
.kartlag .sidebar_element,
.kartlag li {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Re-add padding where wanted */
.kartlag h3,
.kartlag h2,
.kartlag h1,
.kartlag_header {
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  .kartlag_content_open {
    position: relative;
    margin-top: -28px;
    background: white;
    height: calc(100vh - 164px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .kartlag_content {
    background: transparent;
    display: inline-block;
    width: 100%;
  }

  .kartlag.kartlag_content_closed,
  .kartlag_content.kartlag_content_closed {
    display: none;
  }
}

/* Lists of layers  */

.kartlag_list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.kartlag_list_title {
  display: inline-block;
  width: calc(100% - 90px);
  padding-top: 5px;
  padding-bottom: 5px;
}

.kartlag_list_icon_set {
  position: absolute;
  right: 10px;
  max-width: 100px;
  overflow: auto;
}

/* icons */

.kartlag_list li svg {
  padding: 5px;
  vertical-align: top;
}

.kartlag_list li svg:last-child {
  padding-right: 0px;
}

.remove_icon {
  color: rgb(153, 0, 19);
}

.add_icon {
  color: #299988;
}

/* Active menu and its submenu */

.kartlag_open_object {
  background: #edf4f5;
  border-bottom: 1px solid #e4f0f2;
}

.kartlag_submeny {
  background: #fbfbfb;
  text-align: center;
  padding-top: 5px;
}

.kartlag_submeny button {
  font-size: 12pt;
  width: calc(100% / 3);
  padding: 5px;
  border-bottom: 1px solid #e4f0f2;
}

.kartlag_submeny .legende_button {
  border: 1px solid #e4f0f2;
  border-bottom: transparent;
}

.kartlag_submeny button svg {
  vertical-align: middle;
  padding-left: 0px;
  margin-top: -4px;
  height: 16pt;
}

.kartlag .slider_setting,
.kartlag_label_liste label {
  display: block;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
}

/* Buttons for the theme selectors */

.button_map_preview {
  width: 100%;
  padding: 10px;
  background: transparent;
  text-align: left;
  position: relative;
}

.button_map_preview span {
  width: 50%;
  height: 100%;
}

.button_map_preview img,
.button_map_preview span {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.button_map_preview img {
  width: 150px;
  height: 50px;
}

.theme_link {
  display: block;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.theme_link svg {
  margin-top: calc(50% - 15px);
  width: 40px;
  height: 40px;
}

/* KILDER */

.kilde_box button {
  display: inline-block;
  padding: 10px;
  background: #edf4f5;
  min-width: 200px;
  margin: 10px;
  vertical-align: top;
  min-height: 55px;
}

.kilde_box button img {
  float: left;
}

.kilde_box button:hover {
  background: #81b2bb;
  color: white;
}
