/* 

The list used in "kartlag" with a bunch of icons.
Avoiding flex to ensure it works on all types of devices, IE included.
Even tho we don't a of now support IE X)

*/

.kartlag_list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.kartlag_h2,
.kartlag_list li {
  display: block;
  position: relative;
  padding: 5px;
  margin: 2px;
}

.kartlag_list li svg {
  padding: 5px;
  vertical-align: top;
}

.kartlag_main_icon {
  display: inline-block;
}

.kartlag_list_title {
  display: inline-block;
  width: calc(100% - 131px);
  padding-top: 5px;
  padding-bottom: 5px;
}

.kartlag_h2 .kartlag_list_title {
  padding-top: 2px;
  vertical-align: top;
}

.kartlag_list li svg:last-child {
  padding-right: 0px;
}

.kartlag_list_icon_set {
  position: absolute;
  right: 0px;
}

.activate_button {
  background: #4b909e;
  color: white;
  padding: 10px;
  font-size: 12pt;
  padding-left: 30px;
  padding-right: 30px;
}

.activate_button svg {
  height: 18px;
  width: 18px;
  vertical-align: top;
}

.activate_button_container {
  text-align: center;
}

.kartlag_header {
  padding-bottom: 5px;
}

.kartlag_submeny {
  border-top: 1px solid #e4f0f2;
  border-bottom: 1px solid #e4f0f2;
}
