@import "./GraphicProfile.scss";

.area_facts {
  padding: 10px;
}

/* ADD ALL NEW CONTAINERS HERE*/
.wrap_padding {
  padding-left: 10px;
  padding-right: 10px;
}

.lokasjon_seksjon {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lokasjonboksknapper {
  display: block;
  text-align: center;
  padding: 15px;
  background: $bright-nin;
  width: 200px;
}

.lokasjon_seksjon {
  background: $brightest-nin;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.image_holder_landscape {
  height: 150px;
  width: 250px;
  background: grey;
  display: inline-block;
}

.lokasjon_seksjon div {
  padding-left: 10px;
}

.landskapstype_visning {
  background: $background_header;
  border-left: 15px solid $medium-nin;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.landskapstype_visning img,
.landskapstype_visning .sidebar_top_image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.landskapstype_visning h2 {
  width: 100%;
  flex: none;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

.landskapstype_visning p {
  text-align: left;
}

.landscape_wrap_2ndlayer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.value_lokasjon {
  background: #c0e3e1;
  font-size: 14pt;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 200px;
}

.not_image_and_link {
  flex: 1;
}

.landskapstype_visning.small {
  width: calc(50% - 5px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex h2 {
  width: 100%;
}

@media only screen and (max-width: 1120px) {
  .value_lokasjon,
  .lokasjonboksknapper {
    display: inline-block;
    width: calc(50% - 2.5px);
    margin: 0px;
    height: 45px;
    padding: 10px;
    overflow: hidden;
    vertical-align: top;
  }

  .value_lokasjon {
    margin-right: 5px;
  }

  .landskapstype_visning.small,
  .landscape_wrap_2ndlayer {
    width: 100%;
  }

  .lokasjon_seksjon .landscape_wrap_2ndlayer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .landskapstype_visning {
    border-left: 0px;
    border-top: 15px solid $medium-nin;
  }

  .not_image_and_link {
    min-width: 100%;
  }

  .landskapstype_visning .sidebar_top_image {
    width: 100%;
    height: 250px;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .landskapstype_visning,
  .image_and_link {
    width: 100%;
    height: auto;
  }

  .image_and_link .hide_on_mobile {
    display: none;
  }

  .landskapstype_visning h2 {
    margin-top: 20px;
  }
}
