.sidebar {
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
  max-width: 408px;
  background: #ededed;
  width: 100%;
}

@media only screen and (max-width: 678px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    padding-top: 56px;
  }
}

.sidebar h1,
.sidebar h2 {
  font-weight: 300;
  margin: 10px;
}

.sidebar h1 {
  font-size: 18pt;
}

.sidebar h2 {
  font-size: 12pt;
  color: black;
}

.sidebar_element,
.sidebar_background_element {
  padding: 10px;
  position: relative;
}

.sidebar_element {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

.sidebar_background_element {
  padding: 0px;
}

.sidebar_top_image {
  height: 250px;
  margin-top: 142px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 

Hidden because currently not in use, but  
may be relevant again should we decide to go back.
/// remove this if content with new version.

.sidebar_code_bubble_container {
  position: absolute;
  right: 10px;
  top: -25px;
  border-radius: 15px;
  vertical-align: bottom;
  background: #b7d3d8;
}

.sidebar_code_bubble_container div {
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
}
.sidebar_code_bubble_container .sidebar_code_bubble_avatar {
  background: #81b2bb;
}

*/

.sidebar_description p {
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar_description a {
  display: inline-block;
  color: #36a3b2;
  font-size: 12pt;
  height: 12px;
  text-decoration: none;
  margin-top: 10px;
}

.sidebar_description svg {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
