@import "./GraphicProfile.scss";

/*
The left and right sidebars
Their collected styling
Their common buttons
*/

/* leftmenu */

.leftwindow {
  width: $sidebar-max-size;
  position: absolute;
  top: 0;
  max-height: 100%;
  background: $panel-bg;
  height: 100%;
}

.lukkbartvindu {
  left: 0;
}

.kartlag {
  right: 0;
}

.lukkbartvindu,
.sidebar {
  font-family: $fontfamily;
  background-color: $panel-bg;
  position: absolute;
  overflow-y: auto;
  width: $sidebar-max-size;
  height: 100%;
  max-height: $actual-map-height;
  top: $topbar-height-nin;
  border:1px solid $sand-80
}

@media only screen and (max-width: 768px) {
  .lukkbartvindu,
  .sidebar {
    width: 100%;
    max-height: $actual-map-height-mobile;
  }
}

.lukkbartvindu_header {
  font-size: 19pt;
  color: black;
}

.lukkbartvindu_header img {
  height: 22px;
  padding-right: 5px;
  padding-left: 5px;
}

.lukkbartvindu-innhold {
  position: relative;
  top: 0px;
}

/* Buttons */
.leftside-openbutton {
  background: $dark-nin;
  color: white;
  margin-top: 10px;
  display: block;
}

.closebutton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.closebutton svg {
  vertical-align: middle;
}

/* Button on bottom of map screen on mobile */
.mobile_slide_up_area {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Mobile slide-up area */

  .mobile_slide_up_area {
    display: inline-block;
    text-align: center;
    height: $mobile_slide_up_area;
    background: transparent;
    overflow: visible;
    width: 100%;
    border-radius: 0;
    padding:0
  }

  .open_mobile_slide_up_area {
    bottom: auto;
    border-top: 0px;
    border-bottom: 1px solid $dark-nin;
    z-index: 100;
    background: $transparent-bg;
    position: absolute;
    top: $topbar-height-nin;
    margin:0;
    z-index: 104;
  }

  .open_mobile_slide_up_area:hover {
      background: $transparent-bg;
      opacity: 0.7
  }

  .closed_mobile_slide_up_area {
    position: absolute;
    top: auto;
    bottom: 0;
    background: white;
    border-top: 1px solid $dark-nin;
    border-bottom: 0px;
  }

  .mobile_slide_up_area svg {
    background: $dark-nin;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 40px;
    position: relative;
    z-index: 1000;
  }

  .closed_mobile_slide_up_area svg {
    margin: auto;
    margin-top: -18px;
  }

  .mobile_slide_up_area span {
    width: 100%;
    padding: 2px;
    padding-bottom: 8px;
    display: block;
    font-size: 12pt;
    text-align: left;
  }

  .mobile_slide_up_area span:first-of-type {
    color: $dark-nin;
    font-size: 8pt;
    padding: 2px;
    padding-top: 0px;
    margin-top: -5px;
  }
}
