@import "./GraphicProfile.scss";
/* SIDEBAR MENU */

.sidebar {
  position: fixed;
  height: calc(100vh - #{$topbar-height-nin});
  overflow-x: hidden;
  max-width: $sidebar-max-size;
  background: $background_header;
  width: 100%;
  font-family: $fontfamily;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    height: calc(100vh - #{$menu-mobile-size});
    max-height: 100%;
    overflow-y: auto;
  }
  .sidebar.mobile_off {
    display: none;
  }
  .sidebar.mobile_on {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .top_sidebar_background,
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
}

/* MAIN BODY CONTENT (information tab) */
.main_body {
  position: relative;
  top: 0px;
  height: calc(100vh - #{$topbar-height-nin});
  width: calc(100% - #{$sidebar-max-size});
  background: $background_header;
  font-family: $fontfamily;
  left: $sidebar-max-size;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .main_body.mobile_on {
    position: relative;
    height: calc(100vh - #{$menu-mobile-size});
    width: 100%;
    background: $background_header;
    left: auto;
    overflow-y: scroll;
  }
  .main_body.mobile_off {
    display: none;
  }
}

/* Content aligner */
.main_body_wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
  padding-bottom: 10px;
  max-width: 1400px;
}

@media only screen and (max-width: 768px) {
  .main_body.mobile_on .main_body_wrapper {
    max-width: 100%;
    padding: 10px;
  }
}

/* The white container boxes */
.sidebar_element {
  border: 0px;
  width: 100%;
  border-bottom: 1px solid $border-color;
  position: relative;
  text-align: left;
}

.sidebar_element_padding {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar_element p {
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Container boxes with regular items, not pre-styled ones */
.sidebar_title_container,
.stats_paragraph {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12pt;
  font-family: $fontfamily;
}

.stats_paragraph {
  display: flex;
  align-content: flex-start;
  text-align: left;
}

.stats_paragraph svg {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  color: $dark-nin;
}

.sidebar_title_container h1,
.sidebar_title_container h2 {
  width: calc(100% - 100px);
}

/* The link and icons  */

.sidebar_element h3 svg,
.sidebar_description svg {
  color: $dark-nin;
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-right: 10px;
}

.sidebar_title_number {
  float: right;
}

.rotated {
  transform: rotate(180deg);
}

/* Headings */
.sidebar h1,
.sidebar h2 {
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar h1 {
  font-size: 18pt;
}

.sidebar_title_container h2 {
  font-size: 12pt;
  color: black;
}

.sidebar_element h2 {
  font-size: 14pt;
  font-weight: 300;
}

.sidebar_element h3 {
  font-weight: 400;
  display: inline-block;
  font-size: 13pt;
  margin: 0px;
  padding: 5px;
  vertical-align: top;
  width: 100%;
}

.clickable_element:hover {
  cursor: pointer;
  background: $brightest-nin;
}

.sidebar_code_field {
  white-space: none;
}

.katlog_header_images_container {
  background: $brightest-nin;
}

.katlog_header_images_container .katlog_header_text_container {
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  /*width: calc(100% - #{$sidebar-max-size});*/
  text-align: left;
  white-space: pre-wrap;
}

@media only screen and (max-width: 1066px) {
  .katlog_header_images_container .katlog_header_text_container {
    display: block;
    width: 100%;
    padding: 10px;
    white-space: pre-wrap;
  }
}

.sidebar_top_map,
.sidebar_top_image {
  vertical-align: top;
  height: 200px;
  width: $sidebar-max-size;
  display: inline-block;
  background: $bright-nin;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1066px) {
  .sidebar_top_map,
  .sidebar_top_image {
    width: 100%;
    display: block;
  }
}

.sidebar_top_image.trasparent_image {
  background: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.sidebar_top_image.wide_image {
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  height: $sidebar-max-size;
}

.page_topic_header {
  height: 0px;
  padding: 0px;
  margin: 0px;
}

@media only screen and (min-width: 768px) {
  .page_topic_header {
    height: 0px;
    width: 100%;
    padding-top: 0px;
  }
}
