@import "./GraphicProfile.scss";
@import url("https://design.artsdatabanken.no/style/header-footer.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

header.header {
  z-index: 1000;
}

.adb-dropdown-wrap {
  height: 100vh;
  display: block;
  width: 100%;
  position: absolute;
  pointer-events: none !important;
}

.top_bar {
  width: 100%;
  left: 0;
  position: relative;
  z-index: 5;
}

.width-adjuster {
  height: 100%;
}

.nin-topbar {
  position: relative;
  height: $nin-header;
  background: $super-duper-dark-nin;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.adb-topbar {
  background: #4c4a48;
}

.header_text:hover {
  cursor: pointer;
  opacity: 0.5;
}

.top_bar.forside_topbar {
  background: transparent;
  border-bottom: transparent;
}

/* Logo Image */

.header_text {
  font-size: 14pt;
  color: $brightest-nin;
  font-weight: 400;
  display: inline-block;
  margin-left: 56px;
  margin-top: 12px;
}

.adb-topbar .header_text {
  text-align: left;
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .header_text {
    margin-left: calc(50% - 70px);
  }
}

.logo-icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: baseline;
  height: 24px;
}

.adb-topbar .logo-icon {
  height: 21px;
}

.adb-topbar .logo-icon.bigscreen {
  margin: 8px;
  margin-top: -12px;
  background: white;
  padding: 9px 23px 20px 23px;
}

.smallscreen {
  display: none;
}

@media only screen and (max-width: 768px) {
  .bigscreen {
    display: none;
  }

  .smallscreen {
    display: inline-block;
    padding: 12px;
    margin: 0;
    padding-top: 2px;
  }
}

.header_text span {
  vertical-align: top;
}

.logo_image {
  width: 20px;
  position: relative;
  margin-left: 16px;
  z-index: 1;
}

.logo_image_frontpage {
  width: 65px;
  position: relative;
  margin-right: 10px;
  z-index: 1;
  vertical-align: middle;
}

/* Search Icon Button */

.hamburger,
.search_icon {
  position: absolute;
  right: -1px;
  top: -1px;
  box-sizing: border-box;
  height: calc(#{$top-icon-height} + 2px);
}

.hamburger {
  display: inline-block;
  padding: $top-pad;
  left: 10px;
  top: $top-pad;
  right: auto;
  z-index: 22;
}

.top_bar svg {
  color: white;
}

.top_bar.forside_topbar svg {
  color: $darkest-nin;
}

/* Search Field */

.search_elements_container {
  position: absolute;
  right: 10px;
  top: $top-pad;
  z-index: 22;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.searchbar_container {
  height: $top-icon-height;
  display: inline-block;
  width: $searchbar-width;
  box-sizing: border-box;
  width: $top-icon-height;
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.searchbar_container.mobile_active {
  width: $searchbar-width;
  border: 1px solid $border-color;
  background: white;
}

.searchbar_container.mobile_active .search_icon svg {
  color: $darkest-nin;
}

@media only screen and (max-width: 768px) {
  .searchbar_container.mobile_active {
    width: calc(100vw - 20px);
  }
}

/* Search Field Input area */

.searchbar_container input {
  width: calc(100% - 38px);
  height: inherit;
  margin: -1px;
  border: 0px;
  background: 0px;
  padding-left: 10px;
  font-size: 12pt;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .searchbar_container input {
    display: none;
  }

  .searchbar_container.mobile_active input {
    display: inline-block;
  }
}

/* Resultatliste */

.resultatliste {
  overflow-y: auto;

  margin: 0px;
  max-height: 100%;
  padding: 0px;
  position: auto;
  right: 10px;
  border: 1px solid $border-color;
  width: $searchbar-width;
  background: white;
  position: fixed;
  z-index: 30;
  box-sizing: border-box;
}

.resultatliste_item {
  width: 100%;
  background: transparent;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.resultatliste_item:hover {
  cursor: pointer;
  background: $medium-nin;
}

@media only screen and (max-width: 768px) {
  /* The mobile version! Yay */
  .resultatliste_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.resultatliste_tekst {
  padding-left: 10px;
  display: block;
}

.itemtext,
.resultatliste_tekst {
  flex: 1 1 auto;
  min-width: 0;
  padding-left: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.itemtext {
  font-size: 13;
  font-weight: 100;
}

.avatar_container {
  width: 25px;
  text-align: center;
}

.top_menu_item {
  display: inline-block;
  padding: 10px;
  font-size: 14pt;
  vertical-align: top;
}

.listitem {
  height: 38px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .top_menu h1 {
    display: "inline-block";
  }

  .resultatliste {
    display: none;
  }

  .listitem {
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  /* The mobile version!
    WHEN ACTIVATED THE ELEMENTS   */
  .mobile_version.mobile_active {
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 15;
    margin-left: -5px;
    background: rgba(255, 255, 255, 0.9);
  }

  .resultatliste.mobile_active {
    display: block;
    max-width: 100%;
    width: 100%;
    left: 0px;
    margin-right: 0px;
    position: fixed;
    z-index: 30;
    height: 100vh;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
}

/* Resultatliste tekstpresentasjon */

.textmatch {
  color: $dark-nin;
  font-weight: 500;
}

.itemtext {
  text-align: right;
  font-size: 10pt;
}

.background_click_collector {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.background_click_collector:hover {
  cursor: pointer;
}
