.top_expander {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 20;
}

.top_menu {
  color: #4b909e91;
  height: 48px;
  width: 100%;
  padding: 0px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .top_menu {
    background: #f5f5f5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin: 0px;
  }
}

.top_menu h1 {
  right: 15px;
  top: 15px;
  margin: 0px;
  position: absolute;
  display: none;
  font-weight: 400;
  font-size: 16pt;
}

.top_menu h1 img {
  display: none;
  height: 30px;
  vertical-align: bottom;
}

.resultatliste,
.input_imitator {
  background: white;
  max-width: 392px;
  border-radius: 4px;
  box-sizing: border-box;
}

.input_imitator {
  max-height: 90%;
  display: inline-block;
}

.input_imitator input {
  _border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  _margin-bottom: 10px;
  max-width: 90%;
}

.resultatliste {
  top: -14px;
  left: 10px;
  margin-right: 60px;
  background: white;
  position: fixed;
  z-index: 30;
  height: auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.top_menu_item {
  display: inline-block;
  padding: 10px;
  font-size: 14pt;
  vertical-align: top;
}

.itemtext {
  font-size: 13;
  font-weight: 100;
}

.listitem {
  height: 38px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* The mobile version! Yay */

  .top_menu h1 {
    display: "inline-block";
  }

  .input_imitator {
    background: transparent;
    width: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  }

  .input_imitator input {
    _background: white;
    width: 0px;
    border-radius: 4px;
    margin-left: 24px;
  }

  .resultatliste {
    display: none;
  }

  .listitem {
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  /* The mobile version!
    WHEN ACTIVATED THE ELEMENTS   */
  .mobile_version.mobile_active {
    width: 100vw;
    _height: 56px;
    top: 0px;
    position: fixed;
    z-index: 15;
    margin-left: -5px;
    background: rgba(255, 255, 255, 0.9);
  }

  .search_icon.mobile_active {
    display: none;
    z-index: 20;
    _background: white;
    _border-radius: 4px;
    position: fixed;
    right: 20px;
    _font-size: 36px !important;
  }

  .input_imitator.mobile_active input {
    width: 90%;
    z-index: 20;
    position: fixed;
    left: 5%;
    padding: 5px;
    height: 30px;
    display: inline-block;
  }

  .resultatliste.mobile_active {
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    top: 48px;
    left: 0px;
    margin-right: 0px;
    background: white;
    position: fixed;
    z-index: 30;
    height: 100vh;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
}

.textmatch {
  color: #4b909e;
  font-weight: 500;
}

.search_icon.mobile_active {
  z-index: 20;
  _background: white;
  _border-radius: 4px;
  position: absolute;
  display: none;
  right: 20px;
  _font-size: 36px !important;
}

.search_icon {
  margin-right: 20px;
  padding-right: 4px;
  position: fixed;
  right: 16px;
}

.search_icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  _margin-left: -10px;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .input_imitator {
    max-width: 392px;
    width: 392px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }

  .search_icon {
    left: 370px;
  }
}

.itemtext {
  text-align: right;
  font-size: 10pt;
}

.logo_image {
  left: auto;
  right: 10px;
  position: absolute;
  width: 25px;
  top: 10px;
}
