/* Top anchor, that is: the menu but heightless 
to avoid stop of click-thru events, used only to place things
as opposed to maintaining a root height */

.top_anchor {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
}

/* Logo Image */

.logo_image {
  left: auto;
  right: 10px;
  position: absolute;
  width: 25px;
  top: 10px;
}

.header_text b {
  font-size: 14pt;
  color: #4b909e;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .header_text b {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo_image {
    right: auto;
    position: relative;
    top: 5px;
    margin-right: 10px;
    z-index: 1;
  }

  .header_text {
    display: inline-block;
    margin-left: calc(50% - 72px);
    margin-top: 10px;
  }
}

/* Search Field */

.searchbar_container {
  height: 48px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
  border: 1px solid #eaeaea;
  width: calc(408px - 60px);
  z-index: 20;
  position: relative;
  box-sizing: border-box;
}

.searchbar_container input {
  width: 80%;
  height: 48px;
  margin: 0px;
  border: 0px;
  background: 0px;
  padding-left: 10px;
  font-size: 12pt;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .searchbar_container input {
    display: none;
  }

  .searchbar_container.mobile_active {
    width: calc(100% - 20px);
    border: 1px solid #eaeaea;
    background: white;
  }

  .searchbar_container.mobile_active input {
    display: inline-block;
  }

  .searchbar_container {
    position: absolute;
    right: 10px;
    width: 50px;
    background: transparent;
    border: none;
  }
}

/* Search Icon Button */
.hamburger,
.search_icon {
  height: 48px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.hamburger {
  display: inline-block;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 5px;
}

/* Resultatliste */

.resultatliste {
  overflow-y: auto;
  max-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  position: auto;
  top: 56px;
  border: 1px solid #eaeaea;
  width: 408px;
}

.resultatliste {
  margin-right: 60px;
  background: white;
  position: fixed;
  z-index: 30;
}

.top_menu_item {
  display: inline-block;
  padding: 10px;
  font-size: 14pt;
  vertical-align: top;
}

.itemtext {
  font-size: 13;
  font-weight: 100;
}

.listitem {
  height: 38px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* The mobile version! Yay */

  .top_menu h1 {
    display: "inline-block";
  }

  .resultatliste {
    display: none;
  }

  .listitem {
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  /* The mobile version!
    WHEN ACTIVATED THE ELEMENTS   */
  .mobile_version.mobile_active {
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 15;
    margin-left: -5px;
    background: rgba(255, 255, 255, 0.9);
  }

  .resultatliste.mobile_active {
    display: block;
    max-width: 100%;
    width: 100%;
    left: 0px;
    margin-right: 0px;
    position: fixed;
    z-index: 30;
    height: 100vh;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
}

/* Resultatliste tekstpresentasjon */

.textmatch {
  color: #4b909e;
  font-weight: 500;
}

.itemtext {
  text-align: right;
  font-size: 10pt;
}

.background_click_collector {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.background_click_collector:hover {
  cursor: pointer;
}
