.top_bar {
  width: 100%;
  left: 0;
  height: 56px;
  position: relative;
  background: #4b909e;
  border-bottom: 1px solid #eaeaea;
}

.header_text:hover {
  cursor: pointer;
  opacity: 0.5;
}

.top_bar.forside_topbar {
  background: transparent;
  border-bottom: transparent;
}

/* Logo Image */

.header_text {
  font-size: 20pt;
  color: #edf4f5;
  font-weight: 300;
  display: inline-block;
  margin-left: 60px;
  margin-top: 12px;
}

@media only screen and (max-width: 768px) {
  .header_text {
    margin-left: calc(50% - 70px);
  }
}

.header_text span {
  vertical-align: top;
}

.logo_image {
  width: 20px;
  position: relative;
  margin-right: 10px;
  z-index: 1;
}

.logo_image_frontpage {
  width: 65px;
  position: relative;
  margin-right: 10px;
  z-index: 1;
  vertical-align: middle;
}

/* Search Icon Button */

.hamburger,
.search_icon {
  height: 46px;
  position: absolute;
  right: -1px;
  top: -1px;
}

.hamburger {
  display: inline-block;
  padding: 5px;
  left: 10px;
  top: 5px;
  right: auto;
  z-index: 22;
}

.top_bar svg {
  color: white;
}

.top_bar.forside_topbar svg {
  color: #4d8b96;
}

/* Search Field */

.searchbar_container {
  position: absolute;
  right: 10px;
  height: 46px;
  display: inline-block;
  margin-top: 4px;
  border: 1px solid #eaeaea;
  background: #fff;
  width: calc(408px - 60px);
  z-index: 22;
  box-sizing: border-box;
}

.searchbar_container {
  width: 50px;
  background: transparent;
  border: 1px solid transparent;
}

.searchbar_container.mobile_active {
  width: calc(408px - 60px);
  border: 1px solid #eaeaea;
  background: white;
}

.searchbar_container.mobile_active .search_icon svg {
  color: #4d8b96;
}

@media only screen and (max-width: 768px) {
  .searchbar_container {
    position: absolute;
    right: 10px;
    width: 50px;
    background: transparent;
    border: none;
    border: 1px solid transparent;
  }

  .searchbar_container.mobile_active {
    width: calc(100% - 20px);
    border: 1px solid #eaeaea;
    background: white;
  }

  .searchbar_container.mobile_active .search_icon svg {
    color: #4b909e;
  }
}

/* Search Field Input area */

.searchbar_container input {
  width: calc(100% - 38px);
  height: inherit;
  margin: -1px;
  border: 0px;
  background: 0px;
  padding-left: 10px;
  font-size: 12pt;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .searchbar_container input {
    display: none;
  }

  .searchbar_container.mobile_active input {
    display: inline-block;
  }
}

/* Resultatliste */

.resultatliste {
  overflow-y: auto;
  max-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  position: auto;
  top: 51px;
  right: 10px;
  border: 1px solid #eaeaea;
  width: 348px;
  background: white;
  position: fixed;
  z-index: 30;
}

.top_menu_item {
  display: inline-block;
  padding: 10px;
  font-size: 14pt;
  vertical-align: top;
}

.itemtext {
  font-size: 13;
  font-weight: 100;
}

.listitem {
  height: 38px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* The mobile version! Yay */

  .top_menu h1 {
    display: "inline-block";
  }

  .resultatliste {
    display: none;
  }

  .listitem {
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  /* The mobile version!
    WHEN ACTIVATED THE ELEMENTS   */
  .mobile_version.mobile_active {
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 15;
    margin-left: -5px;
    background: rgba(255, 255, 255, 0.9);
  }

  .resultatliste.mobile_active {
    display: block;
    max-width: 100%;
    width: 100%;
    left: 0px;
    margin-right: 0px;
    position: fixed;
    z-index: 30;
    height: 100vh;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
}

/* Resultatliste tekstpresentasjon */

.textmatch {
  color: #4b909e;
  font-weight: 500;
}

.itemtext {
  text-align: right;
  font-size: 10pt;
}

.background_click_collector {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.background_click_collector:hover {
  cursor: pointer;
}
