.graphic_profile {
  artsdb_color: #4c4a48;
  color: #4b909e;
  color: #81b2bb;
  color: #b7d3d8;
  color: #edf4f5;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  overflow: hidden;
  touch-action: none;
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "sans-serif";
  color: #4b909e;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leaflet-top {
  top: calc(100vh - 100px) !important;
}

div {
  max-width: 100%;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
  max-width: 408px;
  background: #ededed;
  width: 100%;
}

.mobile_navigation {
  display: none;
}

@media only screen and (max-width: 678px) {
  .leaflet-top {
    top: calc(100vh - 150px) !important;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    padding-top: 56px;
  }

  .mobile_navigation {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    margin: 0px;
  }

  .mobile_navigation button {
    display: inline-block;
    text-align: center;
    padding: auto;
    background: #edf4f5;
    width: 50%;
    height: 48px;
    padding: 15px;
    position: relative;
    bottom: 0px;
    box-sizing: border-box;
    margin: 0px;
    color: #555;
    font-family: "Roboto", "sans-serif";
    border: none;
  }

  .mobile_navigation .active_mobile_button,
  .active_mobile_button,
  .mobile_navigation button:hover,
  .mobile_navigation button.active:hover,
  .mobile_navigation button.active:focus,
  .mobile_navigation button.active {
    background: #81b2bb;
    color: #fff;
    color: "rgba(0,0,0,0.67)";
    cursor: pointer;
  }

  .mobile_navigation .active_mobile_button {
    background: #4b909e;
    color: white;
    font-weight: 600;
  }
}

.MuiPaper-root-277,
.MuiPaper-elevation1-280 {
  box-shadow: none !important;
}

.MuiExpansionPanel-expanded-516 {
  margin: 1px !important;
}
