::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  overflow: hidden;
  touch-action: none;
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto condensed", "sans-serif";
}

.hoverUnderline:hover {
  text-decoration: underline;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leaflet-top {
  top: 56px !important;
}
