::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

body {
  overflow: hidden;
  touch-action: none;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
